@import "tailwindcss";

@media screen and (max-width: 768px) {

header{
    background-color: #fff;
    height: 60px;
    padding: 0 20px;
}

#testimonial-main-sec {
    height: auto;
}

#testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color: red; */
}

#motion {
    width: 350px;
}

/* contact */
#contact-page{
    background-color: #f0f0f0;
    height: auto;
    padding: 20px;
}

/* about */
#about {
    height: auto;
    padding: 30px 20px;
}



/* tripPlanner */
#tripPlanner {
    width: 100%;
    /* background-color: green; */
    position: relative;
   
}
#trip {
    width: 350px;
    /* background-color: red; */
    position: absolute;
    left: 0;
}


/* footer */
footer {
    background-color: #f8f8f8;

    border-radius: 10px;
}
#newsletter {
    width: 100%;
    /* background-color: green; */
}

#map {
    height: auto;
    margin-bottom: 40px;
}

}